body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  padding: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  color:grey;
  font-size: 1.2rem;
  width: 90%;
  padding: 10px;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

button {
  padding:10px;
  margin:10px;
  align-content: center;
  background-color: rgb(61, 159, 126);
  color:white;
  font-weight: bolder;
  margin-left:40%;
  padding-left: 60px;
  padding-right: 60px;
}

.no-hay {
  color:white;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 50px;
}